body {	
	background-color: #696;
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 1em;	
	line-height: 2em;	
	color: #336699;
	margin:0;
	padding:16px;
}

h2 {
	color: #CCCCCC
	}
h3 {	
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 1.15em;	
	background-color: #006666;  	
	color: #DCDCDC
}

h4 {
	color: #000000
}

a {	
	color: #3366CC;	
	text-decoration: none
}
a:hover {	
	text-decoration: underline
}


.container
{
	max-width:100%;
	margin:0 auto;
}
.pane16
{
	max-width:100%;
	width:100%;
	height:100%;
	margin:0 auto;
}


.outframe {
	width:240px;
	height:160px;
	-max-width:240px;
	-min-width:240px;
	-min-height:160px;
	border:none;
	float:left;
	margin:4px;
	padding:0;
	background-color:white;
	resize:both;
	overflow:hidden;
	padding:4px;
}	

	
iframe, .pane4
{
	width:240px;
	height:160px;
	border:none;
	float:left;
	margin:4px;
	padding:4px;
	background-color:white;
}	

.inframe {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

.footer { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.167em;
	font-weight: bold;
	line-height: 1.83em;
	color: #333333;
	background-color: #CCCCCC;
	width:100%;
}


.dir
{
  border:1px solid gray;
  backround: #fc6;
  border-radius:4;
}
